body {
  direction: rtl;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  background-color: rgb(236, 245, 245);
  font-size: 16px;
  color: rgb(2, 54, 88);
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    max-width: none;
    padding: 0%;
    margin: 0%;
  }

  .secondTi {
    margin-right: 0.8cm;
  }

  .list-group {
    margin-right: 2%;
    margin-left: 2%;
  }
  .my {
    margin-top: 3em;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30%;
  }

  .contractTi {
    background-image: url("images/contract.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    height: 16.5em;
    width: 100%;
    margin-bottom: 4em;
    text-align: center;
    margin-top: 3em;
  }
  .checkTi {
    background-image: url("images/chack.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    height: 18.5em;
    width: 100%;
    margin-bottom: 5em;
    margin-top: 3em;
    text-align: center;
  }

  .conTi {
    background-image: url("images/contact.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    height: 17em;
    width: 100%;
    text-align: center;
    margin-top: 3em;
  }

  .homeTi {
    background-image: url("images/home.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    height: 19em;
    width: 100%;
    text-align: center;
    margin-top: 3em;
  }

  .homeMid {
    background-image: url("images/home2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 23em;
    width: 100%;
  }
  .regTi {
    background-image: url("images/reg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
    height: 17.5em;
    width: 100%;
    text-align: center;
    margin-top: 3em;
  }

  .ti {
    font-size: 1.4cm;
    margin-block-start: 4.1em;
    color: black;
  }

  .tiHome {
    font-size: 1.4cm;
    margin-block-start: 4.1em;
    color: black;
  }
  .de {
    margin-top: 1.5cm;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .ans {
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    width: 100%;
    background-color: rgb(243, 189, 39);
    color: white;
  }

  .ans1 {
    position: fixed;
    top: 0;
    margin-top: 5rem;
    left: 0;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    width: 100%;
    background-color: rgb(243, 189, 39);
    color: white;
    z-index: 1000;
  }

  .boxReason {
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    background-color: rgba(243, 189, 39, 0.753);
    color: black;
    width: 100%;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 1001px) {
  .my {
    margin-top: 3em;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15%;
  }

  .contractTi {
    background-image: url("images/contract.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18em;
    width: 100%;
    margin-bottom: 4em;
    text-align: center;
    margin-top: 3em;
    background-size: 30%;
  }

  .checkTi {
    background-image: url("images/chack.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18em;
    width: 100%;
    margin-bottom: 4em;
    margin-top: 3em;
    text-align: center;
    background-size: 30%;
  }

  .conTi {
    background-image: url("images/contact.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18em;
    width: 100%;
    margin-top: 3em;
    text-align: center;
    background-size: 30%;
  }

  .homeTi {
    background-image: url("images/home.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18em;
    width: 100%;
    margin-top: 3em;
    text-align: center;
    margin-bottom: 4em;
    background-size: 30%;
  }

  .homeMid {
    background-image: url("images/home2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 17em;
    width: 100%;
    margin-bottom: 4rem;
  }

  .regTi {
    background-image: url("images/reg.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 18em;
    width: 100%;
    margin-top: 3em;
    text-align: center;
    background-size: 30%;
  }

  .ti {
    font-size: 4.5em;
    margin-right: 1em;
    margin-block-start: 1em;
    color: black;
  }

  .tiHome {
    font-size: 4.5em;
    margin-block-start: 1.2em;
    color: black;
  }

  .de {
    margin-top: 1.5cm;
    margin-right: 10%;
  }

  .ans {
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    width: 22em;
    background-color: rgb(243, 189, 39);
    color: white;
  }

  .ans1 {
    position: fixed;
    top: 0;
    margin-top: 5rem;
    left: 0;
    margin-left: 36%;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    width: 28%;
    background-color: rgb(243, 189, 39);
    color: white;
    z-index: 1000;
  }

  .boxReason {
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    background-color: rgba(243, 189, 39, 0.753);
    color: black;
    width: 98.9%;
    position: absolute;
    padding: 0;
    right: 0;
    padding-top: 2rem;
  }
}
.co {
  height: 2.5cm;
}

.link {
  margin-left: 2cm;
  color: white;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.active {
  color: darkblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: rgb(4, 76, 99);
  margin-block-end: 0.7cm;
}
.check {
  margin-block-start: 1cm;
  line-height: 3px;
}

.list {
  font-size: 1em;
  line-height: 23px;
}

div[className^="col-"] {
  height: 100px;
}

.contact {
  margin-block-start: 1em;
  line-height: 15px;
}

.inDetail {
  margin-top: 1cm;
  border-style: solid;
  border-radius: 200px 200px;
  border-color: rgb(3, 93, 122);
  text-align: center;
  line-height: 30px;
  background-color: rgba(11, 120, 170, 0.164);
  color: rgb(4, 76, 99);
  width: 34rem;
  height: 53.5rem;
  padding: 3rem;
}

.in select:invalid {
  color: darkred;
}
.in input:invalid {
  color: darkred;
}

.botFile {
  width: 20em;
  margin-top: 0px;
}

.eror {
  color: darkred;
  font-size: 0.8em;
}

.userdetail {
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(3, 93, 122);
  text-align: center;
  width: 8cm;
  height: 12cm;
  padding-top: 1cm;
  line-height: 0.7cm;
  background-color: rgba(11, 120, 170, 0.164);
  color: rgb(4, 76, 99);
  margin-bottom: 1cm;
}

.conac {
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(3, 93, 122);
  text-align: center;
  width: 8cm;
  height: 12cm;
  padding-top: 1cm;
  line-height: 0.7cm;
  background-color: rgba(11, 120, 170, 0.164);
  color: rgb(4, 76, 99);
}

h5 {
  line-height: 1cm;
  text-align: center;
}

.span-2-ti {
  font-size: 4em;
  color: rgb(4, 76, 99);
  margin-top: 1cm;
}
.previewo {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  height: 8.6em;
  text-align: center;
}

.md-mycontainer {
  margin-right: 7em;
  margin-left: 15em;
}

.end {
  text-align: center;
}

.checks {
  color: rgb(2, 55, 73);
}
.homeButt {
  margin-bottom: 4rem;
  margin-top: 3.5rem;
  text-align: center;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.reason {
  text-align: center;
}

.homeBody {
  text-align: center;
}

.cost {
  background-image: url("images/cost.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}

.attention {
  background-image: url("images/attention.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}

.why {
  color: black;
}

.birocratic {
  background-image: url("images/birocratic.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}

.profesion {
  background-image: url("images/profesion.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}
